.hsl-container {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: minmax(195px, 195px) 1fr 1fr 1fr 1fr 1fr minmax(15px, 15px);
    grid-auto-rows: minmax(50px, 50px) minmax(100px, 100px) 1fr 1fr 1fr 1fr minmax(15px, 15px);
    height: calc(80vh - 10px);
}

.hsl-legend-x {
    grid-column: 2 / 7;
    grid-row: 2;
    overflow: hidden;
}

.hsl-legend-y {
    grid-column: 1;
    grid-row: 3 / 7;
    overflow: hidden;
}

.hsl-barchart {
    grid-column: 1 / 7;
    grid-row: 1 / 7;
}

/* MAIN SCENE */

.hsl-scene {
    grid-column: 2 / 7;
    grid-row: 3 / 7;
    overflow: hidden;
}

.hsl-vertical-scroll {
    grid-column: 7;
    grid-row: 3 / 7;
}

.hsl-horizontal-scroll {
    grid-column: 2 / 7;
    grid-row: 7;
}

/* SELECTORS */
.hsl-selectors {
    grid-column: 1 / 7;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: repeat(2, 1fr)
}

.hsl-yselector {
    grid-column: 1;
    grid-row: 2;
}

.hsl-xselector {
    grid-column: 2 / 8;
    grid-row: 1;
}

.hsl-zselector {
    grid-column: 7 / 13;
    grid-row: 1;
}

.hsl-extraselector {
    grid-column: 13;
    grid-row: 1;
}

div.tooltip {
    color: black;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 20px;
    background: white;
    border: 2px solid #636363;
    pointer-events: none;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #dbdddf !important;
    pointer-events: none;
    background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #6c757d;
}

.highlightText {
    color: #3182bd
}

.highlightEntity {
    color: #4292c6
}

.highlightKeyword {
    color: #d94801
}

.popup_content {
    margin: 10px;
    padding: 0 10px;
    max-width: 60%;
    border: 2px solid #444;
    background: white;
}

.inner-button-text {
    border: 2px solid white;
    border-radius: 5px;
}

body {
    overflow: scroll;
}

.relationshipId {
  display: block !important;
}

.hsl-article{
    width: calc(60vw - 10px);
    color: #6a6a6a;
}

.openRectScene{
  fill:#f7f7f7 !important
}

/* SUMMARY */
.menu-container{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(70px, 70px) 1fr;
}
.vis-container{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-column: 1;
  grid-row: 2;
}
.summary-barchart {
  grid-column: 1;
  grid-row: 2;
}

.toolbar{
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: 1fr;
}
.sidebar-panel{
  grid-column: 1;
  grid-row: 1;
  margin-top: -10px;
}

.searchByTerm-panel{
  grid-column: 2/7;
  grid-row: 1;
}

.searchByTerm-container{
  grid-column: 7/12;
  grid-row: 1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar .closebtn:hover {
    text-decoration: underline;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: -25px;
  }

  .sidebar .entityselector {
    position: absolute;
    top: 15px;
    font-size: 36px;
    margin-left: 35px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main-container {
    transition: margin-left .5s;
  }

  .summary-barchart {
    overflow-y: scroll;
    height: 100%;
  }

  .searchKeyword-panel {
    transition: 0.5s;
  }

  .loading{
    background-color: white;
    opacity: 0.6;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
  }
  .loading img{
    margin-top: 200px;
  }