{% load static %}

<html>

<head>
  <title>Entities relations vis</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <script src="{% static 'hyperstorylines/js/libraries/jquery-3.4.1.min.js'%}"></script>
  <script src="{% static 'hyperstorylines/js/libraries/popper.min.js'%}"></script>
  <script src="{% static 'hyperstorylines/js/libraries/bootstrap.min.js'%}"></script>

  <link rel="stylesheet" href="{% static 'hyperstorylines/css/bootstrap.min.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/study.css' %}">-->

</head>

<body>
  <div id="content">
    <div class="card mb-3" style="border-bottom: white;">
      <div class="card-body">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
</body>

</html>