{% extends '../base.html' %} {% load static %} {% block content %}
<!-- ADDITIONAL -->
<script src="{% static 'hyperstorylines/js/libraries/d3.v5.min.js'%}"></script>
<script src="{% static 'hyperstorylines/js/libraries/jquery.popupoverlay.js'%}"></script>
<script src="{% static 'hyperstorylines/js/libraries/lodash.js'%}"></script>
<script src="{% static 'hyperstorylines/js/libraries/jLouvain/jLouvain.js'%}"></script>

<!-- STORYLINES ALGORITHM -->
<script src="{% static 'hyperstorylines/js/hsl/narrative.js'%}"></script>
<script src="{% static 'hyperstorylines/js/hsl/narrative-extension.js'%}"></script>

<script type="module">
  import nestedStorylines from "{% static 'hyperstorylines/js/hsl/hsl.js'%}";
  var ns = nestedStorylines()
    .init('1')
</script>
<link rel="stylesheet" href="{% static 'hyperstorylines/css/hsl/hsl.css' %}">

<body>
  <div class="hsl-nav">
    <div id="mySidebar" class="sidebar">
      <div class="summary-barchart">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="btn-group entityselector">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" id="summarySelect_label"> Type of entity</button>
          <div class="dropdown-menu" id="summarySelect">
          </div>
        </div>
        <div class="hsl-barchart"></div>
      </div>
    </div>
  </div>
  <div style="padding: 16px;">
    <div class="menu-container" id="main-container">
      <div class="toolbar">
        <div class="sidebar-panel" id="sidebar-panel">
          <button class="openbtn" onclick="openNav()">☰ Overview</button>
        </div>
        <div class="searchByTerm-panel" id="searchByTerm-panel">
          <input id="searchInput" name="filter" type="text" placeholder="">
          <button id="searchByTermButton" class="btn btn-secondary">Search in sources</button>
          <button id="searchEntityButton" class="btn btn-secondary">Search entities</button>
          <button id="clearAllSearchsButton" class="btn btn-secondary">Clear</button>
          <!--<br> -->
        </div>
        <div id="searchByTermContainer" class="searchByTerm-container"></div>
      </div>
      <div class="vis-container">
        <div class='hsl-container'>
        </div>
        <div class="loading">
          <img src="{% static 'hyperstorylines/images/loading.gif' %}" alt="Simply Easy Learning" width="150"
            height="150">
        </div>
      </div>
    </div>
    <div class="hsl-article" id="hsl-article"></div>
  </div>
  <script>
    function openNav() {
      if (document.getElementById("mySidebar").style.width == '250px') {
        closeNav()
      } else {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("menu-container").style.marginLeft = "250px";
        document.getElementById("hsl-article").style.marginLeft = "250px";
        document.getElementById("sidebar-panel").style.visibility = "hidden";
        document.getElementById("searchByTerm-panel").style.marginLeft = "-120px"
        var w = Number(document.getElementById("svgHorizontalScrollbar").getAttribute("width")) - 250
        document.getElementById("svgHorizontalScrollbar").setAttribute("width", w)
      }
    }
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("menu-container").style.marginLeft = "0";
      document.getElementById("hsl-article").style.marginLeft = "0";
      document.getElementById("sidebar-panel").style.visibility = "visible";
      document.getElementById("searchByTerm-panel").style.marginLeft = "0px"
      var w = Number(document.getElementById("svgHorizontalScrollbar").getAttribute("width")) + 250
      document.getElementById("svgHorizontalScrollbar").setAttribute("width", w)

    }
  </script>
</body>
{% endblock %}